# Project exclude paths
/.gradle/
/.idea/
/build/
/common/.gradle/
/common/build/
/common/build/classes/java/main/
/common/run/
/fabric/.gradle/
/fabric/build/
/fabric/build/classes/java/main/
/fabric/run
/neoforge/.gradle/
/neoforge/build/
/neoforge/build/classes/java/main/
/neoforge/run